@import "mixins";

// Libraries and Mixins
// https://github.com/colourgarden/awesome-scss

h1 {
  color: red;
  @include responsive("iphone") {
    color: yellow;
  }
  @include responsive("iphone-l") {
    font-size: 60px;
  }

  @include responsive("tablet") {
    color: blue;
  }
}
